body {
    overflow-y: hidden;
    transition: background 0.3s ease-in-out;
}

#main-pannel {
    height: calc(95vh);
    overflow-y: auto;
    transition: background 0.3s ease-in-out;
}


/* Change look of scrollbars */
#main-pannel::-webkit-scrollbar, .gridjs-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: lightgrey
}

#main-pannel::-webkit-scrollbar-thumb, .gridjs-wrapper::-webkit-scrollbar-thumb {
    background-color: slategrey;
}

/* Graphs navigation buttons */
.summary-btn:hover, .graphs-nav:hover {
    background-color: lightblue;
    color: darkslategrey
}

.page-lim-btn:hover {
    background-color: lightblue;
    color: white
}
