.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.sidebar-nav-link {
    color: lightslategrey;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar-nav-link:hover {
    background: lavender;
    color: darkslategrey;
}

.activeSection {
    background: lightblue;
    /* color: darkslategrey; */
    color: white;
}
.activeSection:hover {
    background: lightblue;
    /* color: darkslategrey; */
    color: white;
}

#btn-import-data {
    border-color: darkslategrey;
    /* transition: background 0.3s ease-in-out; */
}

#btn-import-data:hover {
    /* background: lavender; */
    /* color: darkslategrey; */
}
